nav {
    width: 100vw;
    height: 8vh;
    background-color: rgb(189, 32, 58);
    color: aliceblue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
}

.logo {
    width: 50%;
    height: 100%;
    font-size: xx-large;
    display: flex;
}

.logo i {
    width: max-content;
    height: max-content;
    margin: auto;
}

.fb {
    width:  50%;
    height: 100%;
    display: flex;
}

.fb h1 {
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.fb h1 i a {
    color: white;
    text-decoration: none;
}